@mixin text($name) {

    @if $name ==h1 {
        font-family: Inter;
        font-size: 5.6rem;
        font-weight: 800;
        line-height: 6.1rem;
        text-align: left;
    }

    @if $name ==numbers {
        font-family: Inter;
        font-size: 4.8rem;
        font-weight: 800;
        line-height: 5.237rem;
        text-align: center;
    }

    @if $name ==h2 {
        font-family: Inter;
        font-size: 4.2rem;
        font-weight: 700;
        line-height: 4.3rem;
        text-align: left;

    }

    @if $name ==h3 {
        font-family: Inter;
        font-size: 3.2rem;
        font-weight: 700;
        line-height: 4rem;
        text-align: left;
    }

    @if $name ==h3CardForm {
        font-family: Inter;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 4rem;
        text-align: left;
    }

    @if $name ==caption {
        font-size: 1.8rem;
        font-weight: 800;
        line-height: 2.459rem;
        text-align: left;
    }

    @if $name ==captionInfoHeader {
        font-size: 1.7rem;
        font-weight: 700;
        line-height: 2.4rem;
        text-align: left;
    }

    @if $name ==captionInfoText {
        font-size: 1.3rem;
        font-weight: 500;
        line-height: 2.0rem;
        text-align: left;
    }

    @if $name ==placeholderTextBig {
        font-size: 1.7rem;
        font-weight: 400;
        line-height: 2.4rem;
        text-align: left;
    }

    @if $name ==placeholderTextSmall {
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 2.4rem;
        text-align: left;
    }

    @if $name ==errorText {
        font-size: 1.0rem;
        font-weight: 400;
        line-height: 2.4rem;
        text-align: left;
    }


    @if $name ==captionHeader {
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 2.459rem;
        text-align: left;
    }

    @if $name ==p {
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 3.2rem;
        text-align: left;
    }

    @if $name ==button {
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 2.186rem;
        text-align: left;

    }

    @if $name ==body2 {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 2.186rem;
        text-align: left;

    }

    @if $name ==menu {
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 1.912rem;
        text-align: left;
    }

    @if $name ==small {
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 1.912rem;
        text-align: left;
    }

    @if $name ==footerLink {
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.576rem;
        text-align: left;
    }

    @if $name ==copyrights {
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 2.047rem;
        text-align: left;
    }

    @if $name ==footerText {
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.861rem;
        text-align: left;
    }

    @if $name ==bgText {
        font-family: Golos;
        font-size: 18rem;
        font-weight: 700;
        line-height: 19.638rem;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
    }

    @if $name ==tips {
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.351rem;
        text-align: left;
    }

}
