
$white: #FFFFFF;

$green: #1D9A6D;

$grey: #ADADAD;

$subscribeButton: #279D88;

$greenSearch: #00FFA342;

$blue15: #627FE326;

$blue26: #627FE326;

$downloadButtonText: #8886FF;

$violet: #5653FF;

$mainBg: #0D111B;

$sliderBlack: #151822;

$buttonBlack: #0D111B;

$breakLine: #0D111B;

$darkBlue: #1A204A;

$header-menu-z-index: 4;

$header-user-data-z-index: 4;

$earth-z-index: 2;

$coins-z-index: 3;
